body{
	
	background-image: url("a.webp");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}
li{
	font-size:150%;
}
center{
	font-size:200%;
}
td{
	padding:20px;
	text-align:center;
	font-size:20px;
	border: 2px solid yellow;
    border-radius:100%;
	overflow:hidden;
	padding:1px;
}